 #rechthoek1 {
 width: 200px;
 height: 100px;
 background: red;
 margin-left: 100px;
}
 #rechthoek2 {
 width: 400px;
 height: 100px;
 background: red;
}
 #wiel1 {
 width: 100px;
 height: 100px;
 background: black;
 -moz-border-radius: 50px; 
 -webkit-border-radius: 50px; 
 border-radius: 50px; 
}
 #wiel2 {
 width: 100px;
 height: 100px;
 background: black;
 -moz-border-radius: 50px; 
 -webkit-border-radius: 50px; 
 border-radius: 50px; 
 margin-left: 300px;
 margin-top: -100px;
}
#wiel1a {
 width: 50px;
 height: 50px;
 background: #ffffff;
 -moz-border-radius: 50px; 
 -webkit-border-radius: 50px; 
 border-radius: 50px;
 margin-left: 25px;
 margin-top: -75px;
}
 #wiel2a {
 width: 50px;
 height: 50px;
 background: #ffffff;
 -moz-border-radius: 50px; 
 -webkit-border-radius: 50px; 
 border-radius: 50px; 
 margin-left: 325px;
 margin-top: -50px;
}
#raam1 {
 width: 75px;
 height: 75px;
 background: #ffffff;
 margin-top: -260px;
 margin-left: 110px;
 border: 3px solid #000000;

}
#raam2 {
 width: 75px;
 height: 75px;
 background: #ffffff;
 margin-top: -81px;
 margin-left: 210px;
 border: 3px solid #000000;
}