.car{
	animation: car 4.5s infinite;
	animation-name: slidein;
  	position: absolute;
  	z-index: 2;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: -50%;
    width: 100%;
  }
}
#rechthoek1 {
 width: 250px;
 height: 100px;
 background: blue;
 margin-left: 90px;
 border-radius: 20px  20px  0px  0px;
 margin-top: -10px;
 margin-bottom: 10px;
}

#rechthoek2 {
 width: 410px;
 height: 110px;
 background: blue;
 border-radius: 10px  10px  10px  10px;
 margin-top: -10px;
 margin-left: 30px;
}

#wiel1 {
 width: 100px;
 height: 100px;
 background: black;
 -moz-border-radius: 50px; 
 -webkit-border-radius: 50px; 
 border-radius: 50px; 
 margin-top: -50px;
 margin-left: 50px;
}

#wiel2 {
 width: 100px;
 height: 100px;
 background: black;
 -moz-border-radius: 50px; 
 -webkit-border-radius: 50px; 
 border-radius: 50px; 
 margin-left: 310px;
 margin-top: -100px;
}

#wiel1a {
 width: 50px;
 height: 50px;
 background: #ffffff;
 -moz-border-radius: 50px; 
 -webkit-border-radius: 50px; 
 border-radius: 50px;
 margin-left: 75px;
 margin-top: -75px;
}

#wiel2a {
 width: 50px;
 height: 50px;
 background: #ffffff;
 -moz-border-radius: 50px; 
 -webkit-border-radius: 50px; 
 border-radius: 50px; 
 margin-left: 335px;
 margin-top: -50px;
}

#raam1 {
 width: 75px;
 height: 75px;
 background: #ffffff;
 margin-top: -220px;
 margin-left: 120px;
 border: 3px solid #000000;
}

#raam2 {
 width: 75px;
 height: 75px;
 background: #ffffff;
 margin-top: -81px;
 margin-left: 220px;
 border: 3px solid #000000;
} 

#voorlamp1 {
 width: 10px;
 height: 25px;
 background: #FFFF00;
 margin-left: 25px;
 margin-top: 30px;
 animation: blink 1s;
 animation-iteration-count: infinite;
}

#voorlamp2 {
 width: 10px;
 height: 25px;
 background: #ffffb3;
 margin-left: 25px;
 margin-top: -25px;
}

#achterlamp1 {
 width: 10px;
 height: 25px;
 background: #FF0000;
 margin-left: 430px;
 margin-top: 5px;
 animation: blink 1s;
 animation-iteration-count: infinite;
}

#achterlamp2 {
 width: 10px;
 height: 25px;
 background: #ff4d4d;
 margin-left: 430px;
 margin-top: -25px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
