html
body



.denneboom{ 
	position:absolute;
	top:20%;
	left:50%;
	height:340px;
	width:150px;
	animation: grow1 25s;
    
    animation-fill-mode: forwards;
    }
	@keyframes grow1 {
	from {transform:scale(0);}
	 to {transform: scale(0.3);}
}


#denneboom2{
	left:58%;
    animation: grow2 20s;
    animation-fill-mode: forwards;
    }
	@keyframes grow2 {
	from {transform:scale(0);}
	 to {transform: scale(1.2);}
	}

#denneboom3{
	left: 30%;
    animation: grow3 10s;
    animation-fill-mode: forwards;
    }
	@keyframes grow3 {
	from {transform:scale(0);}
	 to {transform: scale(1);}
	}


#denneboom4{
	left: 40%;
    animation: grow4 15s;
    animation-fill-mode: forwards;
    }
	@keyframes grow4 {
	from {transform:scale(0);}
	 to {transform: scale(0.5);}
	}


.denneboom .triangle1 {
	width: 0;
	height: 0;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-bottom: 60px solid #177723;
    margin-left: 10px;


}

.denneboom .triangle2 {
	width: 0;
	height: 0;
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
	border-bottom:100px solid #177723;
    margin-top: -30px;
    margin-right: 50px;
    float: left;
                
}

.denneboom .triangle3 {
	width: 0; 
    height: 0; 
    border-bottom: 150px solid #177723; 
    border-left: 90px solid transparent; 
    border-right:90px solid transparent; 
    border-top:-10px solid transparent;
                 
                               
			}

.denneboom .rectangle {
	height: 70px;
	width: 30px;
	background-color: #3D2604;
	position: absolute;
	left: 80px;
			    
				}

	